/Lab/lab/obj
/Lab/lab/jos.in
/Lab/lab/jos.log
/Lab/lab/jos.out
/Lab/lab/jos.out.*
/Lab/lab/jos.cmd
/Lab/lab/.gdbinit
/Lab/lab/wget.log
/Lab/lab/qemu.pcap
/Lab/lab/qemu.pcap.*
/Lab/lab/qemu.out
/Lab/lab/qemu.log
/Lab/lab/gradelib.pyc
/Lab/lab/lab*-handin.tar.gz
/Lab/lab/lab?/
/Lab/lab/sol?/
/Lab/lab/myapi.key
/Lab/lab/.suf
