lab/obj
lab/jos.in
lab/jos.log
lab/jos.out
lab/jos.out.*
lab/jos.cmd
lab/.gdbinit
lab/wget.log
lab/qemu.pcap
lab/qemu.pcap.*
lab/qemu.out
lab/qemu.log
lab/gradelib.pyc
lab/lab*-handin.tar.gz
lab/lab?/
lab/sol?/
lab/myapi.key
lab/.suf
